body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    color: rgb(139, 48, 139);
    font-size: 40px;
    letter-spacing: 3px;
}

h2{
    text-align: center;
    color: #d580ff;
    font-style: italic;
}

h3{
    color: #3db6ba;
}

/* Secciones del Formulario */
.form-section{
    background-color: #1a1a1a;
    border: 2px solid #b300ff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Radio y Checkbox */